body{
    font-family: 'Ubuntu';
    background-color: #E6BA95;
}

/* navbar css starts here  */
.bg-light{
    background-color: #E6BA95;
}

.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: 800;
    color: #E6BA95;
}

.nav-item{
    padding: 0px 18px;
}

.navbar{
    padding: 0 25px 0 ;
}
.nav-link{
    color: #E6BA95;
    font-family: 'Ubuntu';
    font-size: 1.2rem;
}

.nav-link:hover{
    background-color: #E4E9BE;
}

.buttoninfo{
    border-radius: 100px;
}

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: #A2B38B;
    color: #000000;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: #E4E9BE;
}